<nav class="navbar navbar-expand-lg" style="background-color: #1e5ba3;">
  <div class="container">

    <!-- Brand logo links to home -->
    <a class="navbar-brand" href="/">
      <picture>
        <source media="(min-width: 601px)" srcset="images/leeds-logo-tablet.png">
        <img src="images/leeds-logo-mobile.png" alt="Leeds United Logo" class="img-fluid" style="max-height: 50px;">
      </picture>
    </a>

    <!-- Hamburger for mobile/tablet -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" 
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Nav Links -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item me-2 mb-2">
          <a class="nav-link btn-nav {{#if state.home}}active{{/if}}" href="/">Home</a>
        </li>
        <li class="nav-item me-2 mb-2">
          <a class="nav-link btn-nav {{#if state.history}}active{{/if}}" href="/history">History</a>
        </li>
        <li class="nav-item me-2 mb-2">
          <a class="nav-link btn-nav {{#if state.shop}}active{{/if}}" href="/shop">Shop</a>
        </li>
        <li class="nav-item me-2 mb-2">
          <a class="nav-link btn-nav {{#if state.contact}}active{{/if}}" href="/contactus">Contact Us</a>
        </li>
      </ul>
    </div>

    <!-- Cart-->
    <a href="/shop" class="btn btn-outline-light position-relative ms-auto">
      <i class="bi bi-cart-fill"></i>
      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">0</span>
    </a>

  </div>
</nav>
