 <p class="fs-5">
    Total Items: <strong id="cart-count">0</strong>
  </p>

  <p class="fs-4">
    Total Price: <strong id="cart-total" class="text-success">€0.00</strong>
  </p>

  <a href="/checkout" class="btn btn-primary btn-lg mt-3">Proceed to Checkout</a>


<script src="/custom-js/cart.js"></script>